/* resources/js/components/SearchBar.css */

.search-bar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:transparent;
}

.search-icon {
    margin-right: 10px;
    margin-left: 10px;
}

.search-input {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Add slightly rounded corners */
}
