/* Edit.css */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.profile-section {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
}

.dashboard-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.dashboard-divider {
    width: 100%;
    margin: 0.5rem 0;
    border: none;
    border-top: 1px solid #e5e5e5;
}

.dashboard-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.dashboard-label {
    font-size: 1rem;
}
