/* GuestLayout.css */

.guest-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.logo-container {
    margin-bottom: 2rem;
}

.content-card {
    width: 100%;
    max-width: 24rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
